p, a {
    color: #3e3e3e;
    font-size: calc(0.6rem + 0.3vw)
}

h5 {
    font-size: calc(0.7rem + 0.3vw);
    color: #3e3e3e
}

.topico {
    text-align: end !important;
}

.data {
    font-size: calc(0.55rem + 0.3vw) !important;
    text-align: end !important;
}

.debug {
    border-color: red !important;
    border-width: 0.2rem !important;
    border: solid;
}

.titulo {
    letter-spacing: 0.1rem !important;
    font-weight: 700 !important;
    color: #3e3e3e;
}

.divisor {
    border-width: 0.3rem;
    border-color: #3e3e3e;
    opacity: 1;
}

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem; /* Adjust the size of the circle */
    height: 1.5rem; /* Adjust the size of the circle */
    background-color: #3e3e3e; /* Set the background color of the circle */
    border-radius: 50%; /* Make it a circle */
    color: #fff
}

.circle-icon svg {
    width: 50%; /* Adjust the size of the SVG icon within the circle */
    height: auto;
}

li p {
    margin-top: 0.4rem;
    margin-bottom: 0rem;
}

.dropdown-menu {
    min-width: 0px;
}

.idioma {
    margin-top: -0.30rem;
}

.idioma-icon {
    margin-top: -0.10rem;
    color: #3e3e3e;
}